<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    
    <!-- Import jQuery UI --> 
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
		
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    
    <!-- Import jQuery before Materialize -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}" ></script>
	
    <!-- Compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script> 
  </head>
  <body>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash">
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
        <script>setTimeout(function() {document.getElementById("flash").style.display = "none";}, 2000);</script>
      {% endif %}
    {% endwith %}

    <header>
      <div class="container">
        {% if title %}
        <h1>{{ title }}</h1>
        {% endif %}
      </div>
    </header>

    <main>
      <div class="container">
	
	{% if admin %}
	<form action="{{ url_for('buscador', user='admin') }}" method="post" accept-charset="utf-8">
	  <input id="buscador" name="buscador" placeholder="Busca telèfon o nom">
	  <br>
	  <input class="btn" type="submit" value="Buscar">
	</form>
	{% else %}
	<form action="{{ url_for('buscador', user='main') }}" method="post" accept-charset="utf-8">
	  <input id="buscador" name="buscador" placeholder="Busca telèfon o nom">
	  <br>
	  <input class="btn" type="submit" value="Buscar">
	</form>
	{% endif %}
	<br>
	
        {% block body %}	
        {% endblock %}
	
      </div>
    </main>

    <footer>
    developed by Departament TIC
    </footer>
  </body>
  <script>
  function submitForm(tlf)
  {
    var http = new XMLHttpRequest();
    var btn = document.getElementById('btn-'+tlf);
    var nom = btn.getAttribute("data-nom");
    
    if (btn.value == "ESBORRAR")
    {
	http.open("POST", "{{ url_for('tlf.delete') }}", true);
	http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	var params = "delete_tlf=" + tlf;
	http.send(params);
	
	http.onload = function()
	{
	    btn.style.background = "#008b8b";
	    btn.value = "DESFER";
	}
    }
    else if (btn.value == "DESFER")
    {
	http.open("POST", "{{ url_for('tlf.insert') }}", true);
	http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	var params = "tlf=" + tlf + "&" + "nom=" + nom;
	http.send(params);
	http.onload = function()
	{
	    btn.style.background = "#990000";
	    btn.value = "ESBORRAR";
	}
    }	
}

$( function() {
    $( "#accordion" ).accordion({
	collapsible: true,
	active: 0
    });
} );
  $(document).ready(function() {
    $.ajax({
	url: '{{ url_for("autocomplete") }}'
    }).done(function (data) {
	$('#buscador').autocomplete({
	    source: data.json_list,
	    minLength: 2
	});
    });
});
  </script>
</html>
