<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    
    <!-- Import jQuery UI --> 
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    
    <!-- Import jQuery before Materialize -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}" ></script>
    
    <!-- Compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script> 
  </head>
  <body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash">
      {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    <script>setTimeout(function() {document.getElementById("flash").style.display = "none";}, 2000);</script>
    {% endif %}
    {% endwith %}

    <header>
      <div class="container">
        {% if title %}
        <h1>{{ title }}</h1>
        {% endif %}
      </div>
    </header>

    <main>
      <div class="container">
	
	<div id="left">
	  <form {% if admin %} \
		action="{{ url_for('buscador.tlf', user='admin') }}" \
		{% else %}
		action="{{ url_for('buscador.tlf', user='main') }}" \
		{% endif %}
		method="post" accept-charset="utf-8">
	    <input id="buscador_tlf" name="buscador_tlf" placeholder="Busca telèfon o nom">
	    <br>
	    <input class="btn" type="submit" value="Buscar">
	  </form>
	</div>
	
	<div id="right">
	  <form {% if admin %}
		action="{{ url_for('buscador.dept', user='admin') }}" \
		{% else %}
		action="{{ url_for('buscador.dept', user='user') }}" \
		{% endif %}
		method="post" accept-charset="utf-8">
	    <input id="buscador_dept" name="buscador_dept" placeholder="Busca departament">
	    <br>
	    <input class="btn" type="submit" value="Buscar">
	  </form>
	</div>
	
	<br><div style="clear:both"></div>

	{% if admin %}
	<div id="accordion">  
	  <h3>Afegeix un nou contacte</h3>
	  <div>
	    <form action="{{ url_for('tlf.insert') }}" method="post" accept-charset="utf-8">
	      <input type="text" placeholder="Telèfon (màx. 9 caràcters)(obligatori)" name="tlf">
	      <input type="text" placeholder="Nom (obligatori)" name="nom">
	      <input id="buscador_dept_nou" type="text" placeholder="Departament (opcional)" name="dept">
	      <input type="text" placeholder="Telèfon directe (opcional)" name="tlf_dir">
	      <input type="text" placeholder="Email (opcional)" name="email">
	      <input type="text" placeholder="Àrea (opcional)" name="area">
	      <br><br>
	      <input class="btn" type="submit" value="Afegir">
	    </form>
	  </div>
	</div>
	<br>
	{% endif %}
	
        {% block body %}	
        {% endblock %}
	
	<br>
	{% if admin %}
	<a href="{{ url_for('admin') }}">Torna a l'inici</a>
	{% else %}
	<a href="{{ url_for('main') }}">Torna a l'inici</a>
	{% endif %}

      </div>
    </main>

    <footer>
      developed by Departament TIC
    </footer>
  </body>
  <script>
 function submitForm(tlf)
{
    var http = new XMLHttpRequest();
    var btn = document.getElementById('btn-'+tlf);
    var nom = btn.getAttribute("data-nom");
    var dept = btn.getAttribute("data-dept");
    var email = btn.getAttribute("data-email");
    var tlf_dir = btn.getAttribute("data-tlf_dir");
    var area = btn.getAttribute("data-area");

    if (btn.value == "ESBORRAR")
    {
	http.open("POST", "{{ url_for('tlf.delete') }}", true);
	http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	var params = "delete_tlf=" + tlf;
	http.send(params);
	
	http.onload = function()
	{
	    btn.style.background = "#008b8b";
	    btn.value = "DESFER";
	}
    }
    else if (btn.value == "DESFER")
    {
	http.open("POST", "{{ url_for('tlf.insert') }}", true);
	http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	var params = "tlf=" + tlf + "&" + "nom=" + nom + "&" + "dept=" + dept + "&" + "tlf_dir=" + tlf_dir + "&" + "email=" + email + "&" + "area=" + area;
	http.send(params);
	http.onload = function()
	{
	    btn.style.background = "#990000";
	    btn.value = "ESBORRAR";
	}
    }	
}

$( function() {
    $( "#accordion" ).accordion({
	collapsible: true,
	active: false
    });
} );

$(document).ready(function() {
    $.ajax({
	url: '{{ url_for("buscador.autocomplete_tlf") }}'
    }).done(function (data) {
	$('#buscador_tlf').autocomplete({
	    source: data.json_list,
	    minLength: 2
	});
    });
});

$(document).ready(function() {
    $.ajax({
	url: '{{ url_for("buscador.autocomplete_dept") }}'
    }).done(function (data) {
	$('#buscador_dept').autocomplete({
	    source: data.json_list,
	    minLength: 1
	});
	$('#buscador_dept_nou').autocomplete({
	    source: data.json_list,
	    minLength: 1
	});
	$('#buscador_dept_mod').autocomplete({
	    source: data.json_list,
	    minLength: 1
	});
    });
 });
  </script>
</html>
