{% extends "base.html" %}

{% block body %}

<ul>
  <li><b>Telèfon</b>: {{ tlf }}</li>
  <li><b>Nom</b>: {{ nom }}</li>
  <li><b>Departament</b>: <a href="{{ url_for('tlf.dept', dept=dept) }}">{{ dept }}</a></li>
  <li><b>Telèfon directe</b>: {{ tlf_dir }}</li>
  <li><b>email</b>: <a href="mailto:{{ email }}?Subject=" target="_top">{{ email }}</a></li>
  <li><b>Àrea</b>: {{ area }}</li>
</ul>

{% if admin %}
<br>
<div id="accordion">  
  <h3>Afegeix un nou contacte</h3>
  <div>
    <form action="{{ url_for('tlf.insert') }}" method="post" accept-charset="utf-8">
      <input type="text" placeholder="Telèfon (màx. 9 caràcters)" name="tlf">
      <input type="text" placeholder="Nom" name="nom">
      <input type="text" placeholder="Departament" name="dept">
      <input type="text" placeholder="Telèfon directe" name="tlf_dir">
      <input type="text" placeholder="email" name="email">
      <input type="text" placeholder="Àrea" name="area">
      <br><br>
      <input class="btn" type="submit" value="Afegir">
    </form>
  </div>

  <h3>Modifica el contacte</h3>
  <div>
    <form action="{{ url_for('tlf.update') }}" method="post" accept-charset="utf-8">
      <input type="hidden" name="old_tlf" value="{{ tlf  }}">
      <input type="text" name="nou_tlf" placeholder="Nou telèfon">
      <input type="text" name="nou_nom" placeholder="Nou nom">
      <input type="text" name="nou_dept" placeholder="Nou departament">
      <input type="text" name="nou_tlf_dir" placeholder="Nou tlf directe">
      <input type="text" name="nou_email" placeholder="Nou email">
      <input type="text" name="nou_area" placeholder="Nova àrea">
      <br>
      <input class="btn" type="submit" value="Modificar">
    </form>
  </div>

</div>
{% endif %}

{% endblock %}
