{% extends "base.html" %}

{% block body %}

{% if resultDict %}
<table style="width:100%">
  <tr>
    {% if admin %}<th>Delete</th>{% endif %}
    <th>Telèfon</th>
    <th>Nom</th>
    <th>Directe</th>
    <th>Email</th>
    <th>Àrea</th>
  </tr>
  {% for contacte in resultDict %}
  <tr>
    {% if admin %}
    <td>
      <input class="btn" type="submit" id="btn-{{ contacte.tlf }}"
	     data-tlf="{{ contacte.tlf }}"
	     data-nom="{{ contacte.nom }}"
	     data-dept="{{ contacte.dept }}"
	     data-tlf_dir="{{ contacte.tlf_dir }}"
	     data-email="{{ contacte.email }}"
	     data-area="{{ contacte.area }}"
	     value="ESBORRAR"
	     style="color: white; background: #990000; font-weight: bold;"
	     onclick="submitForm('{{ contacte.tlf }}')">
    </td>
    {% endif %}
    <td>{{ contacte.tlf }}</td>
    <td><a \
	   {% if admin %}
	   href="{{ url_for('tlf.contacte', contacte=contacte.nom, user=admin) }}" \
	   {% else %}
	   href="{{ url_for('tlf.contacte', contacte=contacte.nom, user=main) }}" \
	   {% endif %}
	   >{{ contacte.nom }}</a></td>
    <td>{{ contacte.tlf_dir }}</td>
    <td><a href="mailto:{{ contacte.email }}?Subject=" target="_top">{{ contacte.email }}</a></td>
    <td>{{ contacte.area }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
