{% extends "base.html" %}

{% block body %}
{% if resultDict %}
<table style="width:100%">
  <tr>
    {% if admin %}<th>Delete</th>{% endif %}
    <th>Telèfon</th>
    <th>Nom</th>
    <th>Directe</th>
    <th>Departament</th>
  </tr>
  {% for contacte in resultDict %}
  <tr>
    {% if admin %}
    <td>
      <input class="btn" type="submit" id="btn-{{ contacte.tlf }}"
	     data-tlf="{{ contacte.tlf }}"
	     data-nom="{{ contacte.nom }}"
	     data-dept="{{ contacte.dept }}"
	     data-tlf_dir="{{ contacte.tlf_dir }}"
	     data-email="{{ contacte.email }}"
	     data-area="{{ contacte.area }}"
	     value="ESBORRAR"
	     style="color: white; background: #990000; font-weight: bold;"
	     onclick="submitForm('{{ contacte.tlf }}')">
    </td>
    {% endif %}
    <td>{{ contacte.tlf }}</td>
    <td><a \
	   {% if admin %}
	   href="{{ url_for('tlf.contacte', contacte=contacte.nom, user='admin') }}">
	   {% else %}
	   href="{{ url_for('tlf.contacte', contacte=contacte.nom, user='main') }}">
	   {% endif %}
	   {{ contacte.nom }}</a></td>
    <td>{{ contacte.tlf_dir }}</td>
    <td><a \
	   {% if admin %}
	   href="{{ url_for('tlf.dept', dept=contacte.dept, user='admin') }}">
	   {% else %}
	   href="{{ url_for('tlf.dept', dept=contacte.dept, user='main') }}">
	   {% endif %}
	   {{ contacte.dept }}</a></td>
  </tr>
  {% endfor %}
</table>
<br>
{% endif %}


<form action="{{ url_for('tlf.get') }}" method="get">
  <input class="btn" type="submit" value="Exportar contactes">
</form>

{% if admin %}
<br>
<form action="{{ url_for('tlf.upload') }}" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <input class="btn" type="submit" value="Upload">
</form>
{% endif %}

{% endblock %}
