{% extends "base.html" %}

{% block body %}

{% if admin %}
<form action="{{ url_for('buscador', user='admin') }}" method="post" accept-charset="utf-8">
  <input id="buscador" name="buscador" placeholder="Busca telèfon o nom"></input>
  <br>
  <input class="btn" type="submit" value="Buscar">
</form>
{% else %}
<form action="{{ url_for('buscador', user='main') }}" method="post" accept-charset="utf-8">
  <input id="buscador" name="buscador" placeholder="Busca telèfon o nom"></input>
  <br>
  <input class="btn" type="submit" value="Buscar">
</form>
{% endif %}

<br>

{% if resultDict %}
{% for contacte in resultDict %}
<p class="alignleft"> <b>Telèfon</b>: {{ contacte.tlf }} </p>
<p class="alignright"> <b>Nom</b>: {{ contacte.nom }} </p>
<div style="clear: both;"></div>

{% if admin %}
<form action="{{ url_for('tlf.delete') }}" method="post" accept-charset="utf-8" onsubmit="return confirm('Segur que voleu eliminar aquest contacte?');">
  <input type="hidden" name="delete_tlf" value="{{ contacte.tlf }}">
  <input type="hidden" name="delete_nom" value="{{ contacte.nom }}">
  <input class="btn" type="submit" value="Esborrar contacte" style="color: white; background: #990000">
</form>
<br>
{% endif %}

{% endfor%}
{% endif %}

<br>

{% if admin %}

<div id="accordion">
  
  {% if resultDict %}
  <h3>Modifica el contacte</h3>
  <div>
    <form action="{{ url_for('tlf.update') }}" method="post" accept-charset="utf-8">
      <input name="nou_tlf" placeholder="Nou telèfon"></input>
      <input name="nou_nom" placeholder="Nou nom"></input>
      <input type="hidden" name="old_nom" value="{{ nom }}">
      <input type="hidden" name="old_tlf" value="{{ tlf }}">
      <br>
      <br>
      <input class="btn" type="submit" value="Modificar">
    </form>
  </div>
  {% endif %}

  <h3>Afegeix un nou contacte</h3>
  <div>
    <form action="{{ url_for('tlf.insert') }}" method="post" accept-charset="utf-8">
      <input type="text" placeholder="Telèfon (màx. 9 caràcters)" name="tlf"><br>
      <input type="text" placeholder="Nom" name="nom">
      <br>
      <br>
      <input class="btn" type="submit" value="Afegir">
    </form>
  </div>
</div>

<br>

<form action="{{ url_for('tlf.get') }}" method="get">
  <input class="btn" type="submit" value="Exportar CSV">
</form>
<br>
<form action="{{ url_for('tlf.upload') }}" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload">
</form>

{% endif %}

<script>
  $(document).ready(function() {
  $.ajax({
  url: '{{ url_for("autocomplete") }}'
  }).done(function (data) {
  $('#buscador').autocomplete({
  source: data.json_list,
  minLength: 2
  });
  });
  });
</script>

<script>
  $( function() {
  $( "#accordion" ).accordion({
  collapsible: true,
  active: 0
  });
  } );
</script>
{% endblock %}
