{% extends "base.html" %}

{% block body %}

<form action="" method="post">
  <input id="buscador" name="buscador" placeholder="Busca telèfon o nom"></input>
  <input class="btn" type="submit" value="Buscar">
</form>

<br>
<br>

{% if Nom %}
<p>
  {{ tlf }}: {{ Nom }}
</p>
{% endif %}

<br>
<br>

<a href="{{ url_for('tlf.insertTLFView')}}">Afegeix un telèfon</a>

<script>
$(document).ready(function() {
        $.ajax({
        url: '{{ url_for("autocomplete") }}'
    }).done(function (data) {
        $('#buscador').autocomplete({
            source: data.json_list,
            minLength: 2
        });
    });
});
</script>
{% endblock %}
